#textContainer{
    position:fixed;
    background-color:white;
    width:vw;
    height:vh;
    z-index: 2;
}
#title{
        text-decoration-color: white;
        position:relative;
        margin-top: 200px;
        margin-left: 50px;
        font-size: 22px;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 800;
        position: fixed;
        line-height: 140%;
        text-align: left;
}

#title2{
        position:relative;
        bottom: -100px;
        text-decoration-color: black;
        margin-left: 50px;

    
        font-size: 22px;
        font-family: 'Cormorant Garamond', serif;
        font-weight: 800;
        position: fixed;
        line-height: 140%;
        text-decoration: none;
        text-align: left;
}

#about{
        position:fixed;
    top:-70px;    
    right:-200px;
}

a{
    color:white;
    text-decoration:none;
}

body{
    z-index: 1;
    margin-top: -150px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    
    overflow: hidden;
    display: -webkit-box;
  /*  display: -ms-flexbox;*/
    display: flex;
    
    background-image: url('img/bg.jpg');
    background-size: cover;
  
    
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

html, body {

  height: 100%;
  /* for touch screen laptop */
  touch-action: none; 
}

#drag-container, #spin-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-10deg);
          transform: rotateX(-10deg);
}

#drag-container img, #drag-container video {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 200px;
  font-size: 600px;
  text-align: center;

}

#drag-container img:hover{
/*  -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);*/
  opacity:70%;
  
}

#drag-container p {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  line-height: 140%;

  position: FIXED;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) rotateX(90deg);
          transform: translate(-50%,-50%) rotateX(90deg);
  color: #fff;
  width: 700px;
  opacity: 70%;
}

#ground {
  width: 900px;
  height: 900px;
  position: fixed;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) rotateX(90deg);
          transform: translate(-50%,-50%) rotateX(90deg);
  background: -webkit-radial-gradient(center center, farthest-side , #9993, transparent);
}

@-webkit-keyframes spin {
  from{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  } to{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
    

@keyframes spin {
  from{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  } to{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
    
    
@-webkit-keyframes spinRevert {
  from{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  } to{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}
    
    
@keyframes spinRevert {
  from{
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  } to{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}