iframe 
{ 
    position:fixed; 
    top:0; 
    left:0; 
    bottom:0; 
    right:0; 
    width:100%; 
    height:100%; 
    border:none; 
    margin:0%; 
    padding:0; 
    overflow:hidden; 
    z-index:0;"allowfullscreen="" 
}



#story 
{ 
    height:0px;
    overflow:visible;
    pointer-events:none;
    
    font-size:3.5em; 
    position:fixed; 
   
    font-family: sans-serif;
    color: white;
    text-align: center;
    display:block;
    opacity: 0.6;
    
    margin-left: 20%;
    margin-right: 20%;
    margin-top:15%;
    
    text-shadow: 0px 0px 100px #000000;
    
    z-index:2
        
}

#storys
{ 
    height:0px;
    overflow:visible;
    pointer-events:none;
    
    font-size:2.8em; 
    position:fixed; 
   
    font-family: sans-serif;
    color: white;
    text-align: center;
    display:block;
    opacity: 0.6;
    
    margin-left: 20%;
    margin-right: 20%;
    margin-top:13%;
    
    text-shadow: 0px 0px 100px #000000;
    
    z-index:2
        
}

#title 
{ 
    font-size:1.1em; 
    position:fixed; 
   
    font-family: sans-serif;
    color: white;
    text-align: center;
    opacity: 1;
    
    margin-right: 43%;
    margin-left: 43%;

    margin-top:2%;
    
    text-shadow: 0px 0px 100px #000000;

    z-index:3
}

#location 
{ 
    font-size:1.1em; 
    position:fixed; 
   
    font-family: sans-serif;
    color: white;
    text-align: center;
    opacity: 1;
    
    margin-right: 43%;
    margin-left: 43%;

    margin-top:760px;
    
    text-shadow: 0px 0px 100px #000000;

    z-index:3
}

#back
{
    background-color: black;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 20px;
    padding-right:20px;
    
    font-size:1.2em; 
    position:fixed; 
   
    font-family: sans-serif;
    color: white;
    opacity: 0.6;
    font-weight: 600;
    
    margin-right: -20px;

    margin-top:70px;
    
    text-shadow: 0px 0px 10px #000000;
    
    z-index:4
}

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: pink;
  text-decoration: none;
}

/* selected link */
a:active {
  color: white;
  text-decoration: none;
}

img {
  height: 500px;
  padding: 10px;
  z-index:0
    
}

#logo{

    font-size:1.2em; 
    position:fixed; 
   
    font-family: sans-serif;
    color: black;
    font-weight: 400;
    
    padding:40px;
    
    z-index:3

}


.column {
  float: left;
  padding-top:200px;
  padding-left: 10%;
}

.left, .right {
  width: 25%;
}

.middle {
  width: 50%;
}

 .disable-select{
  user-select:none;
}